.react-calendar-heatmap .color-scale-1 {
  fill: var(--mantine-color-blue-0);
}
.react-calendar-heatmap .color-scale-2 {
  fill: var(--mantine-color-blue-1);
}
.react-calendar-heatmap .color-scale-3 {
  fill: var(--mantine-color-blue-2);
}
.react-calendar-heatmap .color-scale-4 {
  fill: var(--mantine-color-blue-3);
}
.react-calendar-heatmap .color-scale-5 {
  fill: var(--mantine-color-blue-4);
}
.react-calendar-heatmap .color-scale-6 {
  fill: var(--mantine-color-blue-5);
}
.react-calendar-heatmap .color-scale-7 {
  fill: var(--mantine-color-blue-6);
}
.react-calendar-heatmap .color-scale-8 {
  fill: var(--mantine-color-blue-7);
}
.react-calendar-heatmap .color-scale-9 {
  fill: var(--mantine-color-blue-8);
}
.react-calendar-heatmap .color-scale-10 {
  fill: var(--mantine-color-blue-9);
}
[data-mantine-color-scheme="light"] .color-scale-1 {
  fill: var(--mantine-color-blue-0);
}
[data-mantine-color-scheme="light"] .color-scale-2 {
  fill: var(--mantine-color-blue-1);
}
[data-mantine-color-scheme="light"] .color-scale-3 {
  fill: var(--mantine-color-blue-2);
}
[data-mantine-color-scheme="light"] .color-scale-4 {
  fill: var(--mantine-color-blue-3);
}
[data-mantine-color-scheme="light"] .color-scale-5 {
  fill: var(--mantine-color-blue-4);
}
[data-mantine-color-scheme="light"] .color-scale-6 {
  fill: var(--mantine-color-blue-5);
}
[data-mantine-color-scheme="light"] .color-scale-7 {
  fill: var(--mantine-color-blue-6);
}
[data-mantine-color-scheme="light"] .color-scale-8 {
  fill: var(--mantine-color-blue-7);
}
[data-mantine-color-scheme="light"] .color-scale-9 {
  fill: var(--mantine-color-blue-8);
}
[data-mantine-color-scheme="light"] .color-scale-10 {
  fill: var(--mantine-color-blue-9);
}

[data-mantine-color-scheme="dark"] .color-scale-1 {
  fill: var(--mantine-color-blue-light-hover);
}

[data-mantine-color-scheme="dark"] .color-scale-2 {
  fill: linear-gradient(
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover)
  );
}

[data-mantine-color-scheme="dark"] .color-scale-3 {
  fill: linear-gradient(
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover)
  );
}

[data-mantine-color-scheme="dark"] .color-scale-4 {
  fill: linear-gradient(
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover)
  );
}

[data-mantine-color-scheme="dark"] .color-scale-5 {
  fill: linear-gradient(
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover)
  );
}

/* Continue increasing the number of layers for each scale */

[data-mantine-color-scheme="dark"] .color-scale-6 {
  fill: linear-gradient(
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-blue-light-hover),
     var(--mantine-color-blue-light-hover)
  );
}

[data-mantine-color-scheme="dark"] .color-scale-7 {
  fill: var(--mantine-color-blue-6);
}
[data-mantine-color-scheme="dark"] .color-scale-8 {
  fill: var(--mantine-color-blue-7);
}
[data-mantine-color-scheme="dark"] .color-scale-9 {
  fill: var(--mantine-color-blue-8);
}
[data-mantine-color-scheme="dark"] .color-scale-10 {
  fill: var(--mantine-color-blue-9);
}

[data-mantine-color-scheme="light"] .heatmap-rect {
  fill: var(--mantine-color-gray-1);
}

[data-mantine-color-scheme="dark"] .heatmap-rect {
  fill: var(--mantine-color-dark-8);
}
